.c-usage {
  display: none;
}

.c-usage__title {
  font-size: var(--propertize__font-size--small);
  font-weight: var(--propertize__font-weight--semibold);
  padding-top: var(--propertize__spacing);
  padding-bottom: var(--propertize__spacing--tiny);
  margin: 0;
  color: var(--propertize__color--black);
}

.c-usage__alinea {
  padding-top: 10px;
  margin: 0;
  color: var(--propertize__color--black);
}

.c-usage__subtitle {
  font-size: var(--propertize__font-size--tiny);
  padding-bottom: var(--propertize__spacing);
  margin: 0;
  color: var(--propertize__color--black);
}

.c-usage__alinea-paraph {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: var(--propertize__color--black);
}

.c-usage__alinea-paraph--top {
  padding: 0;
  margin: 0;
}

.c-usage__alinea-paraph--bottom {
  padding-bottom: 0px;
}

.c-usage__alinea-list {
  padding-left: var(--propertize__spacing--large);
  margin: 0;
  padding-bottom: 10px;
  color: var(--propertize__color--black);
}
