.c-connect {
  display: none;
}

.c-connect__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin-bottom: var(--propertize__spacing--tiny);
}

.c-connect__field {
  display: flex;
  align-items: center;
  gap: var(--propertize__spacing);
}

.c-connect__filter {
  display: none;
  padding-left: calc(70px + var(--propertize__spacing));
  margin-bottom: var(--propertize__spacing--tiny);
}

.c-connect__filter--btn {
  display: flex;
  align-items: center;
  font-size: var(--propertize__font-size--minuscule);
  gap: var(--propertize__spacing--small);
  width: min-content;
  background-color: var(--propertize__color--red);
  color: var(--propertize__color--white);
  border: none;
  border-radius: var(--propertize__border-radius--rounded);
  padding: var(--propertize__spacing--minuscule) var(--propertize__spacing--tiny);
  cursor: pointer;
}

.c-connect__title {
  width: 70px;
  color: var(--propertize__color--secondary);
}

.c-connect__cta {
  background-image: var(--icon-pencil);
  height: 32px;
  width: 32px;
  border: none;
  background-color: var(--propertize__color--white);
  cursor: pointer;
}

.c-connect__cta:disabled {
  opacity: 0.4;
  cursor: inherit;
}

.c-connect__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--propertize__spacing--large);
  width: 100%;
}

.c-connect__remove {
  font-family: var(--propertize__font-family);
  font-size: var(--propertize__font-size--tiny);
  width: 130px;
  height: 30px;
  background-color: var(--propertize__color--accent);
  border: none;
  border-radius: var(--propertize__border-radius--large);
  cursor: pointer;
}

.c-connect__remove:disabled {
  opacity: 0.4;
  cursor: inherit;
}

.c-connect__remove:hover {
  text-decoration: underline;
  text-decoration-color: var(--propertize__color--red);
}

.c-connect__remove:disabled:hover {
  text-decoration: none;
}

.c-connect__create {
  font-family: var(--propertize__font-family);
  font-size: var(--propertize__font-size--tiny);
  width: 130px;
  height: 30px;
  background-color: var(--propertize__color--accent);
  border: none;
  border-radius: var(--propertize__border-radius--large);
  cursor: pointer;
}

.c-connect__create:disabled {
  opacity: 0.4;
  cursor: inherit;
}

.c-connect__create:hover {
  text-decoration: underline;
  text-decoration-color: var(--propertize__color--red);
}

.c-connect__create:disabled:hover {
  text-decoration: none;
}

.c-icon_check_class {
  background-image: var(--icon-check);
  height: 32px;
  width: 32px;
}

.c-connect__attribute {
  margin-bottom: 0;
  height: auto;
}

.c-connect__sample {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 230px;
  height: auto;
  border: 1px solid var(--propertize__color--accent);
  border-radius: var(--propertize__border-radius);
}

.c-connect__container {
  display: none;
}

.c-disconnected {
  display: none;
}

.c-disconnected__text {
  margin: var(--propertize__spacing) 0;
}

.c-connect__sample-value {
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
  padding: var(--propertize__spacing--tiny);
  font-family: var(--propertize__font-family);
}

.c-connect__show-more {
  font-size: var(--propertize__font-size--tiny);
  color: var(--propertize__color--red);
  margin: auto;
  margin-right: var(--propertize__spacing--tiny);
  width: calc(var(--propertize__spacing--huge) * 4.25);
  text-decoration: underline;
  cursor: pointer;
}

.c-connect__enable-scroll + .c-connect__show-more {
  display: none;
}

.c-connect__enable-scroll {
  overflow-y: scroll;
  resize: none;
  height: calc(var(--propertize__spacing--huge) * 3.75);
}
