.m-dropdown__select--filter {
  width: 233px;
}

.m-dropdown__select--filter:hover,
.m-dropdown__select--filter:focus {
  border: 1px solid var(--propertize__color--accent);
  width: 233px;
  outline: none;
  color: var(--propertize__color--primary);
}

.m-dropdown__select:disabled:hover,
.m-dropdown__select:disabled:focus {
  border: 1px solid transparent;
  outline: none;
  color: var(--propertize__color--primary);
  width: 120px;
}
