.a-settings-icon {
  fill: var(--propertize__color--secondary);
}

.a-filter-icon {
  fill: var(--propertize__color--secondary);
}

.a-settings-tab {
  display: flex;
  align-items: center;
}

.a-filter-tab {
  display: flex;
  align-items: center;
}
