:root {
    --propertize__font--primary: "Inter";
    --propertize__font--fallback: Arial, sans-serif;
    --propertize__font-family: var(--propertize__font--primary), var(--propertize__font--fallback);
  
    --propertize__font-size--tiny: 11px;
    --propertize__font-size--small: 14px;
    --propertize__font-size--large: 18px;
  
    --propertize__h1--font-size: 40px;
    --propertize__h2--font-size: 32px;
    --propertize__h3--font-size: 26px;
    --propertize__h4--font-size: 20px;
    --propertize__h5--font-size: 18px;
    --propertize__h6--font-size: 16px;
  
    --propertize__font-weight--lighter: 200;
    --propertize__font-weight--light: 300;
    --propertize__font-weight--regular: 400;
    --propertize__font-weight--medium: 500;
    --propertize__font-weight--semibold: 600;
    --propertize__font-weight--bold: 700;
  }