.c-usage {
  display: none;
}

.is-selected {
  color: var(--propertize__color--primary);
  fill: var(--propertize__color--primary);
}

.figma-light .is-active {
  display: block;
  color: var(--propertize__color--primary);
  fill: var(--propertize__color--primary);
}

.figma-dark .is-active {
  display: block;
  color: var(--propertize__color--white);
  fill: var(--propertize__color--white);
}

.disabled {
  background: var(--propertize__color--accent);
  border-radius: var(--propertize__border-radius);
  opacity: 0.5;
}

.hidden {
  display: none;
}
